<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>workflow_answers</key>
	<array>
		<dict>
			<key>answer_id</key>
			<integer>1</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/14_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>2</integer>
			<key>value</key>
			<string>Centred</string>
			<key>workflow_answer_id</key>
			<integer>1</integer>
			<key>workflow_task_id</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>2</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>0</integer>
			<key>value</key>
			<string>Not centred</string>
			<key>workflow_answer_id</key>
			<integer>2</integer>
			<key>workflow_task_id</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>3</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/14_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>3</integer>
			<key>value</key>
			<string>Subtracted correctly</string>
			<key>workflow_answer_id</key>
			<integer>3</integer>
			<key>workflow_task_id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>4</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>5</integer>
			<key>value</key>
			<string>Not subtracted correctly</string>
			<key>workflow_answer_id</key>
			<integer>4</integer>
			<key>workflow_task_id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>5</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>0</integer>
			<key>value</key>
			<string>Not visible</string>
			<key>workflow_answer_id</key>
			<integer>5</integer>
			<key>workflow_task_id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>6</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>0</integer>
			<key>value</key>
			<string>Some negative pixels</string>
			<key>workflow_answer_id</key>
			<integer>6</integer>
			<key>workflow_task_id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>7</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>0</integer>
			<key>value</key>
			<string>Poor subtractions nearby</string>
			<key>workflow_answer_id</key>
			<integer>7</integer>
			<key>workflow_task_id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>8</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>4</integer>
			<key>value</key>
			<string>Star-like</string>
			<key>workflow_answer_id</key>
			<integer>8</integer>
			<key>workflow_task_id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>9</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>6</integer>
			<key>value</key>
			<string>Not star-like</string>
			<key>workflow_answer_id</key>
			<integer>9</integer>
			<key>workflow_task_id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>10</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>0</integer>
			<key>value</key>
			<string>Too small</string>
			<key>workflow_answer_id</key>
			<integer>10</integer>
			<key>workflow_task_id</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>11</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>0</integer>
			<key>value</key>
			<string>Elongated</string>
			<key>workflow_answer_id</key>
			<integer>11</integer>
			<key>workflow_task_id</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>12</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>0</integer>
			<key>value</key>
			<string>Distorted</string>
			<key>workflow_answer_id</key>
			<integer>12</integer>
			<key>workflow_task_id</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>13</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>0</integer>
			<key>value</key>
			<string>Diffuse</string>
			<key>workflow_answer_id</key>
			<integer>13</integer>
			<key>workflow_task_id</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>14</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>0</integer>
			<key>value</key>
			<string>Centred</string>
			<key>workflow_answer_id</key>
			<integer>14</integer>
			<key>workflow_task_id</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>answer_id</key>
			<integer>15</integer>
			<key>image_url</key>
			<string>http://www.galaxyzoo.org/images/buttons/15_button.gif</string>
			<key>next_workflow_task_id</key>
			<integer>0</integer>
			<key>value</key>
			<string>Not centred</string>
			<key>workflow_answer_id</key>
			<integer>15</integer>
			<key>workflow_task_id</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>workflow_tasks</key>
	<array>
		<dict>
			<key>name</key>
			<string>Is there a candidate centered in the crosshairs of the right-hand image?</string>
			<key>parent_id</key>
			<integer>-1</integer>
			<key>task_id</key>
			<integer>1</integer>
			<key>workflow_answers</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>workflow_task_id</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Has the candidate itself subtracted correctly?
Has the candidate itself subtracted correctly?
Has the candidate itself subtracted correctly?
Has the candidate itself subtracted correctly?</string>
			<key>parent_id</key>
			<integer>1</integer>
			<key>task_id</key>
			<integer>2</integer>
			<key>workflow_answers</key>
			<array>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>workflow_task_id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Is the candidate star-like and approximately circular?</string>
			<key>parent_id</key>
			<integer>2</integer>
			<key>task_id</key>
			<integer>4</integer>
			<key>workflow_answers</key>
			<array>
				<integer>8</integer>
				<integer>9</integer>
			</array>
			<key>workflow_task_id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Is the candidate centered in its host galaxy?</string>
			<key>parent_id</key>
			<integer>4</integer>
			<key>task_id</key>
			<integer>6</integer>
			<key>workflow_answers</key>
			<array>
				<integer>14</integer>
				<integer>15</integer>
			</array>
			<key>workflow_task_id</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>What is wrong with the subtraction?</string>
			<key>parent_id</key>
			<integer>2</integer>
			<key>task_id</key>
			<integer>3</integer>
			<key>workflow_answers</key>
			<array>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>workflow_task_id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>What is wrong with the candidate?</string>
			<key>parent_id</key>
			<integer>4</integer>
			<key>task_id</key>
			<integer>5</integer>
			<key>workflow_answers</key>
			<array>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
			</array>
			<key>workflow_task_id</key>
			<integer>6</integer>
		</dict>
	</array>
</dict>
</plist>
